.table thead {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.tabl th, .table td {
  vertical-align: middle;
}

.highlighted {
  background-color: #9cf;
  position: sticky;
  bottom: 0;
}
