.App {
  text-align: center;
}
.statusTable {
  width: 100%;
  font-size: 16px;
}

.statusTable th {
  text-align: right;
  width: 50%;
}

.statusTable td {
  text-align: left;
  width: 50%;
  vertical-align: middle;
}

.statusIcon:before {
  display: inline-block;
  content: "";
  width: 0.75em;
  height: 0.75em;
  margin: 0 0.5em;
  border-radius: 9999px;
  background-color: #fff;
}

.statusIcon.spawned:before {
  background-color: #0f0;
}

.statusIcon.exited:before {
  background-color: #f00;
}

.statusIcon.unknows {
  background-color: #aaa;
}