html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.Nav {
    
}

.PageContainer {
    position: relative;
    overflow: scroll;
    flex: 1 1;
}